.form_wrapper{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5em;
    width: 100%;
    padding: 5vw;
    border-radius: 1.5em;
    background-color: var(--white-color);

    .field_{
        position: relative;
        display: block;
        width: 100%;
        height: auto;

        &.full_{
            grid-column: 1/-1;
        }

        label{
            position: relative;
            display: block;
            font-size: var(--sm-text-2);
            font-weight: 600;
            margin-bottom: 0.25em;
        }

        input{
            position: relative;
            display: block;
            width: 100%;
            height: 2.75rem;
            box-shadow: none;
            transition: all 0.3s ease;
            background-color: var(--border-color);
            border: none;
            border-radius: 0.5em;
            box-sizing: border-box;
            padding: 0 0.75em;
            font-size: var(--sm-text-2);
            font-weight: 600;
            border: 1px solid var(--border-color);
            font-family: var(--font-family);
            color: var(--text-color);
            &:focus{
                outline: none;
                box-shadow: 0px 0px 5px #0b67f9;
            }
        }
        
        &.attachment_{
            input[type=file]{
                padding-top: 0.65rem;
            }
        }
    }
}