.error_wrapper{
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    img{
        position: relative;
        display: block;
        width: 100%;
        height: auto;
    }
}